* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background: #ccc;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	/* FLEX */
	display: flex;
	flex-flow: row wrap;	
}

body {
	background: #e9e9e9;
}
header {
	background: #2c3e50;
	width: 100%;
	padding: 20px;
	/*FLEX*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}
header .logo {
	color: #fff;
	font-size: 26px;
}
header .logo img {
	width: 100px;
	vertical-align: top;
}
header .logo a {
	color:#fff;
	text-decoration:none;
	line-height: 83px;
}
header nav {
	width: 50%;
	/*FLEX*/
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: right; 
}
header nav a {
	background: #c0392b;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
header nav a:hover {
	background: #e74c3c;
}
.main {
	background: #fff;
	padding: 20px;
	/*FLEX*/
	flex:1 1 50%;
}
.main article {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}
.main article:nth-last-child(1){
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
aside-left{
	background: #00ff00;
	/*FLEX*/
	flex: 1 1 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
}
aside-left .widget {
	background: #000;
	height: 150px;
	margin:10px;
}
aside-right{
	background: #ff0000;
	/*FLEX*/
	flex: 1 1 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
}
aside-right .widget {
	background: #0000ff;
	height: 150px;
	margin:10px;

}
footer {
	background: #2c3e50;
	width: 100%;
	padding: 20px;
	/*FLEX*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
footer .links {
	width: 70%;
	/*FLEX*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer .links a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
footer .links a:hover {
	background: #e74c3c;
}